/*! purgecss start ignore !*/

:root {
  --mainGalleryColor: grey;
  --secondaryGalleryColor: #292727;
  --mainGalleryFontColor: white;
  --mainGalleryIconColor: white;
  --expandedGalleryBackground: rgba(0, 0, 0, 0.6);
}

.article-gallery {

  svg, span {
    @apply fill-current;
    color: white;
    color: var(--mainGalleryIconColor, white);
  }

  h4 {
    color: white;
    color: var(--mainGalleryFontColor, white);
  }

  .gallery {
    background-color: #292727;
    background-color: var(--secondaryGalleryColor, black);
  }

  .description {
    p {
      color: white;
      color: var(--mainGalleryFontColor, white);
    }
  }

  .thumbs {
    & > div {
      transition: transform .5s ease-in-out;
      div {
        &.active {
          border-color: grey;
          border-color: var(--mainGalleryColor, grey);
        }
      }
    }
  }

  .main-image {
    transition: all 1s ease-in-out;

    img { transition: all 1s ease-in-out; }
  }

  .navigation {
    button {
      background-color: grey;
      background-color: var(--mainGalleryColor, grey);
      z-index: 3;
      transition: all .5s ease-in-out;
    }
  }

  .zoom {
    background: rgba(0, 0, 0, 0.5);
    transition: opacity .5s ease-in-out, visibility .5s ease-in-out;
    z-index: 2;
  }

  /** Resizing helpers **/
  .expand-container {
    transition: all 1s ease-in-out, background 1s ease 1s;

    &.expanded {
      @apply fixed z-50;
      background-color: rgba(0, 0, 0, 0.6);
      background-color: var(--expandedGalleryBackground);

      &.animate {
        @apply w-full h-full top-0 left-0 flex justify-center items-center;

        .main-image {
          // Set min-height to the image wrapper to prevent gallery jumping around due to
          // differently sized images
          min-height: 65vh;
          @screen lg { min-height: 70vh; }
          img {
            // Set max-height of the image to display the full image in an acceptable area
            @apply object-contain;
            max-height: 65vh;
            @screen lg { max-height: 70vh; }
          }
        }

        .navigation button { @apply h-24 w-16; }

        .gallery {
          transition: all 1s ease-in-out;
          width: 80vw;

          & > div:first-child {
            & > div {
              span:nth-child(3) { @apply flex items-center justify-center; }
            }
          }
        }

        .zoom { @apply hidden; }
      }
    }
  }
}

/*! purgecss end ignore !*/